<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>
      {% block title %}
        Структура HTML-документа, закрепление 5
      {% endblock %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block style %}{% endblock %}
</head>
<body>
  <div class="container">
      <header>
        {% block header %}{% endblock %}
      </header>
    {% block content %}
      <main>
        {% block main %}{% endblock %}
      </main>
      <footer>
        {% block footer %}{% endblock %}
      </footer>
    {% endblock %}
  </div>
</body>